global:
  scrape_interval: 15s

scrape_configs:
  - job_name: pubtube-gateway
    metrics_path: /metrics
    static_configs:
      - targets:
          - gateway:__GATEWAY_PORT__
  - job_name: pubtube-dashboard
    metrics_path: /metrics
    static_configs:
      - targets:
          - dashboard-api:__DASHBOARD_PORT__
